.conditionTableViewWrapper {
  width: 100%;

  .operationBar {
    display: flex;
    margin-bottom: 24px;
    gap: 12px;
    align-items: center;

    .tooltip {
      display: flex;
      gap: 4px;
    }
  }
}
