.conditionTableViewWrapper {
  width: 100%;

  .operationTips {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
  }

  .operationBar {
    display: flex;
    margin-bottom: 24px;
    gap: 12px;
    align-items: center;

    .tooltip {
      display: flex;
      gap: 4px;
    }
  }

  .ant-card-body {
    padding-top: 16px;
  }

  .variable {
    padding: 2px 4px;
    background: #f7f7f7;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 12px;
    border-radius: 4px;
    color: #c7254e;
    line-height: 1.7em;
  }
}
