body {
    margin: 0;
    padding: 0;
    height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #FAFAFA;
}

html, body {
    width: 100% !important;
    overflow: auto;
    scrollbar-width: none;
}
