#queryConditionSelector {
    box-sizing: border-box;
    margin: 4px;
}

.queryCondition {
    border-radius: 6px;
    font-size: 14px !important;
    color: #343741 !important;
    width: 210px !important;
    height: 100% !important;
}

.ant-select-selector {
    background-color: #FBFCFD !important;
}

.ant-select-selection-search-input {
    outline: none !important;
}

.ant-select-selection-placeholder {
    color: #68717D;
}

.saveConditionButton {
    color: #0071c2;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    background-color: #FBFCFD;
    padding: 0 8px;
    width: 140px;
    cursor: pointer;
    box-sizing: border-box;
}

.saveConditionText {
    white-space: nowrap;
}

.saveConditionText:hover {
    text-decoration-color: #0071c2;
    text-decoration-line: underline;
}
